/*添加绝对定位保证去掉一个或者两个其他的位置不变*/
/*第三次修改top加position: fixed;出现滚动条往下滑一直保证他在最上面显示*/
/*输入框增加80%高度*/
/*更改css命名，以后改掉中文拼音命名的问题*/
/*设置背景颜色*/
body{
	background-color: #eff0f4;
	margin: 0;
}
/*设置头部样式*/
.top{
	height:100px;/*头部高度*/
	width: 100%;
	background-color:#5fc0cd;/*头部背景色*/
	line-height: 100px;
	position: fixed;
	top:0;
	z-index: 99;
}
.top2{
	height: 100px;
}
/*设置 头部（字的样式）*/
.top a{
	color: #fff;
	font-size: 30px;/*字体大小*/
	text-decoration:none;

}
/*设置关闭字的位置.*/
.close{
	position: absolute;
	left: 30px;

}
.log{
	position: absolute;
	left: 50%;
	margin-left: -30px;
}
/*设置注册字的位置*/
.login{
	position: absolute;
	right: 30px;
}
/*设置input控件*/
.Input_column{
	height: 100px;
	background: #fff;/*输入框背景色*/
	margin: 16px 0;
}

/*图标*/
.icon{
	float:left;
	width: 30px;
	height: 40px;
	margin: 30px 45px;
}
/*竖杠*/
.bars{
	width: 2px;
	height: 55px;
	background:#bababa;
	float:left;
	margin: 25px 35px;
}
/*输入框设置*/
.Input_column input{
	font-size:40px;
	margin: 25px auto;/*盒子居中*/
	border:none;/*去掉控件边框*/
	width: 80%;
}
/*尾部登录样式*/
.adopt{
	height:100px;
	background:#5fc0cd;
	margin-top: 70px;
	text-align:center;/*水平居中*/
	line-height:100px;/*垂直居中*/
}
/*登录字体样式*/
.adopt a{
	text-decoration:none;
	text-align: center;
	color: #fff;
	font-size: 30px;
}

.forget{
	text-decoration:none;
	text-align: center;
	color: #5fc0cd;
	font-size: 30px;
	float:right;
	margin-top: 20px;
	margin-right: 30px;

}